<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheVest - vestibulares</title>
    <link rel="stylesheet" href="/view/css/home/home.css">
</head>
<body>
<header>
    <h1>TheVest Vestibulares</h1>
</header>
<section>
    <button id="localizacao"></button>
    <button id="vestibulares"></button>
    <button id="cursos"></button>
    <button id="faculdades"></button>
</section>
<footer></footer>
    
</body>
</html>